<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My Islam App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F4FE1A21F5C904003C6C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F4FE2E21F5C907003C6C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F4FE3921F5C907003C6C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
